body {
    margin: 0;
    padding: 0;
}
#login {
    display: none;
}
#page-header {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    padding-left: 10px;
    padding-right: 10px;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#subscribe-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
}
#popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(144, 224, 194);
    padding: 20px;
    height: 150px;
    width: 200px;
    border-color: slateblue;
    border: 6px solid darkgoldenrod;
}
#popup-form p{
    font-size: medium;
    font-weight: bold;
}
#popup-form input{
    font-size: medium;
}
#popup-form button{
    color: rgb(12, 10, 10);
    font-weight: bold;
    background-color: rgb(255, 71, 71);
}
#popup-form label,
#popup-form input,
#popup-form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
#popup-form button {
    margin-top: 20px;
}
#left-panel {
    grid-area: left-panel;
}
main{
    grid-area: main;
}
aside#special {
    grid-area: special;
}
aside#jokes {
    grid-area: jokes;
}
#footer {
    grid-area: footer;
}
div.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px 1fr 0px;
    gap: 15px;
    grid-template-areas: 
    "header header header"
    "left-panel main special"
    "left-panel main jokes"
    "footer footer footer";
}
#page-header img {
    height: 80%;
    padding-left: 1%;
}
main > article > div {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 15px;
    overflow: hidden;
}

main > article > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 15px;
    overflow: hidden;
}
main > header {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
main > article > p {
    font-size: 120%;
}
#page-header > h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 3.6em;
}
div.container > main > article {
    border: 1px solid silver;
    border-radius: 8px;
    padding: 10px;
    margin: 15px 0;
}
#page-header nav ul {
    padding-left: 0;
}
#page-header nav li {
    list-style-type:none;
    display: inline;
    padding-right: 20px;
    font-size: 1em;
}
#page-header nav li a {
    text-decoration: none;
    color: black;
}
#left-panel > article > #cat_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#left-panel > article{
    color: black;
    background-color: rgb(176, 231, 201);
    border: 1px solid darkgoldenrod;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 120%;
}
#left-panel > article > header {
    text-align: center;
    font-size: large;
    margin: 0;
    font-size: 130%;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    color: rgb(1, 5, 5);
    background-color: #87CEFA;
}
#left-panel > article#weather p {
    margin: 0px;
}
#left-panel > article#weather input {
    margin: 10px;
}
/* #left-panel #next_btn {
    margin: 0;
    position: absolute;
    left: 5%;
} */
#left-panel article#coinchanger img{
    width: 30%;
    margin: auto;
    padding: auto;
}
#left-panel article#coinchanger p {
    font-size: medium;
    margin: 0px;
    font-weight: bold;
}
#left-panel article#coinchanger input{
    width: 60%;
    margin-top: 10px;
}
#left-panel article#coinchanger header{ 
    background-color: rgb(229, 170, 143);
    margin: 5px;
}
#left-panel article#createImage img{

    margin: 5px;
}
#left-panel article#createImage{
    border-color: rgb(8, 128, 40);
    background-color: rgb(169, 214, 117);
    margin: 10px;
}
#left-panel article#createImage header{
    background-color: rgb(187, 154, 218);
    margin: 5px;
}
#left-panel article#createImage label{
    font-size: medium;
    font-weight: bold;
    margin: 5px;
}
#left-panel article#createImage #submit_btn{
    background-color: rgb(80, 170, 255);
    font-size: medium;
    margin: 10px;
}
#left-panel article#catcard {
    background-color: bisque;
}
aside article{
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}
aside#special header {
    text-align: center;
    font-weight: bold;
    font-size: 130%;
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color:rgb(241, 148, 220);
}
aside#special article {
    color: black;
    background-color: rgb(231, 176, 222);
    border: 1px solid darkgoldenrod;
    font-size: 120%;
    text-align: center;
}
aside#cocktail article img {
    width: 100%;
}
aside#cocktail article {
    color: black;
    background-color: rgb(191, 176, 231);
    border: 1px solid rgb(95, 74, 21);
    font-size: 120%;
    text-align: center;
}
aside#cocktail header {
    text-align: center;
    font-weight: bold;
    font-size: 130%;
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color:rgb(143, 219, 128);
}
aside#jokes article {
    color: black;
    background-color: rgb(148, 190, 245);
    border: 1px solid darkblue;
    font-size: 20px;
}
aside article p#quote_author {
    font-weight: bold;
}
aside#jokes article img {
    width: 40%;
    margin: 10px;
}
aside#jokes header {
    text-align: center;
    font-weight: bold;
    font-size: 130%;
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color:rgb(58, 192, 233);
}

@media screen and (max-width: 800px) {
    div.container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
      grid-template-areas:
        "header"
        "left-panel"
        "main"
        "special"
        "jokes"
        "footer"
    }
    #page-header {
      height: auto;
      width: 100%;
      padding: 0;
      padding-left: 0px;
      padding-right: 0px;
      grid-area: header;
      display: flex;
      align-items: center;
    }
    #page-header img {
      height: 40px;
      padding-left: 2%;
      padding-right: 7%;
    }
    #page-header nav li {
        list-style-type:none;
        display: inline;
        padding-right: 5px;
        font-size: 1em;
    }
    #page-header nav ul {
      padding-left: 10px;
    }
    main h3 {
      text-align: center;
      margin: 0;
    }
  
    #weather section p:not(:last-child) {
      border-bottom: none;
      border-right: solid black 1px;
    }

    #weather article section p {
        display: flexbox;
    }
  }
  @media screen and (max-width: 536px) {
    div.container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        grid-template-areas:
          "header"
          "left-panel"
          "main"
          "special"
          "jokes"
          "footer"
      }
    #page-header {
      padding-top: 10px;
      flex-wrap: wrap;
      justify-content: center;
      display: flex;
    }
    #page-header nav ul {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    #weather .forecast {
      display: inline;
    }
    #weather section p:not(:last-child) {
      border-bottom: solid black 1px;
      border-right: none;
    }
    aside#weather section {
      flex-direction: column;
    }
    #page-header {
        display: flex;
        justify-content: center;
        margin-bottom: -13px;
    }
      
    #page-header img {
        margin-left: 10%;
        width: 30%;
    }
      
    #page-header h1 {
        margin: 0;
        margin-left: 1%;
        font-size: 3.7em;
        text-align: center;
    }
      
    #page-header nav {
        margin-left: 11%;
        text-align: center;
    }
      
    #page-header nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
    }
      
    #page-header nav li {
       margin-right: 10px;
       text-align: center;
    }  
    main > article > img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        object-position: bottom;
        border-radius: 15px;  
    }  
    main > header {
        font-size: x-large;  
    }
}